 @import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #edbcc6;
    color: black;
}

/* cabeçalho do site */
.site-header {
    background-color: #523e27;
    color: #edbcc6;
    font-family: "Ribeye Marrow", serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 42.5rem;
}

.site-title {
    margin-bottom: 10px;
    font-size: 2em;
}

.main-nav .nav-list {
    font-family: "Ribeye Marrow", serif;
    font-weight: 400;
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #523e27;
}

.main-nav .main-item {
    margin: 0 5px;
}

.main-nav .nav-link {
    color: #edbcc6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 0 100px;
    text-align: center;
}

.main-nav .nav-link:hover {
    color: #edbcc6;
}

/* conteúdo principal */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    color: #777676;
}

.article {
    flex: 3;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px lightcoral;
    border-radius: 5px;
}

.article-header {
    border-bottom: 2px solid #edbcc6;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.article-title {
    color: #edbcc6;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.article-meta {
    color: plum;
    font-size: 0.9em;
}

.article-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.4em;
    color: #edbcc6;
    margin-bottom: 10px;
}

.section-text {
    margin-bottom: 15px;
    color: #707070;
    line-height: 1.8;
}

.article-image {
    width: 150px;
    display: flex;
    border-radius: 300px;
}

.image-caption {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.article-footer {
    border-top: 2px solid #eee;
    margin-top: 10px;
    padding-top: 10px;
    color: #707070;
    font-size: 0.9em;
}

.sidebar {
    flex: 1;
    background-color: hotpink;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(119, 118, 118);
    border-radius: 5px;
}

.sidebar-title {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 10px;
}

.sidebar-text {
    color: #464646;
    line-height: 1.6;
}

/* Rodapé */
.site-footer {
    background-color: #5e5e5e;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

.contact-info {
    margin-bottom: 10px;
}

.author-name,
.author-email {
    margin-bottom: 5px;
}

.email-link {
    color: rgb(235, 196, 235);
    text-decoration: none;
    transition: color 0.3s;
}

.email-link:hover {
    color: #fff;
}

.footer-copy {
    font-size: 0.9em;
    color: #ccc;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

form legend {
    padding: 0 10px;
    font-weight: bold;
    color: black;
}

form fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form input[type="url"],
form select,
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px;
}

form button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button-hover {
    background-color: #000000;
}

.article-contato {
    color: #5e5e5e;
    font-size: 1.8em;
    margin-bottom: 5px;
    text-align: center;
}

.legend-contato {
    color: #edbcc6;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.article-img {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1024px) {
    .site-header {
        gap: 2rem;
        padding: 15px;
    }

    .main-nav .nav-link {
        margin: 0 50px;
    }

    .main-content {
        max-width: 1000px;
        padding: 0 10px;
    }

    .article, .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .main-nav .nav-list {
        flex-direction: column;
    }

    .main-nav .nav-link {
        margin: 10px 0;
    }

    .main-content {
        flex-direction: column;
        padding: 10px;
    }

    .article, .sidebar {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .site-header {
        padding: 10px;
    }

    .site-title {
        font-size: 1.5em;
    }

    .main-nav .nav-link {
        font-size: 1em;
        margin: 5px 0;
    }

    .main-content {
        padding: 5px;
    }

    .article-title {
        font-size: 1.5em;
    }

    .article-image {
        width: 100px;
    }

    .sidebar {
        padding: 10px;
    }
}